<h1 class="text-center top-banner">Jimmy Wu Angular Samples</h1>
<p-tabView>
  <p-tabPanel header="Resume">
    <app-resume></app-resume>
  </p-tabPanel>
  <p-tabPanel header="Card Layout">
    <app-card-view></app-card-view>
  </p-tabPanel>
  <p-tabPanel header="Column Filter">
    <h6>
      <p style="max-width: 800px;">
        Column Filter icon is appended to each table header, when pressed it will show the corresponding filter with correct operators and controls.
        Table columns with data type DateTime will have different controls than a text column.
      </p>
      <ul>
        <li>Dialog cycles focus through keyboard</li>
        <li>On Submit, will formulate a proper Spel expression to server for query.</li>
        <li>Note: the operator icons are placeholders only.</li>
      </ul>
    </h6>
    <p-selectButton
      [options]="columns"
      [(ngModel)]="value"
      (onChange)="initFilter()"
      [multiple]="false"
      optionLabel="label"
      optionValue="value">
    </p-selectButton>
    <div class="my-2">
      <app-popup-filter
        [events]="eventsSubject.asObservable()"
        [column]="parentColumn"
        [displayOnly]="true"
        [colIndex]="0">
      </app-popup-filter>
    </div>
  </p-tabPanel>
</p-tabView>
