.top-banner {
  padding: 1rem 0;
  background-color: lightblue;
}

.button-container {
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: transparent;
}
