<div>
  <div class="jw-resume-container">
    <header class="text-center">
      <h6>Jimmy K Wu</h6>
      <div>(408) 307-3326</div>
      <a href="mailto:jimmykwu@gmail.com">jimmykwu@gmail.com</a>
    </header>

    <section>
    <h6>Career Summary</h6>
    <p>Seasoned enterprise UI developer with a keen eye for good UX practices</p>
    </section>

    <section>
    <h6>Achievements</h6>
    <ul>
      <li>
        Led major UI efforts for OpenText InfoArchive product, vastly improved product look and feel which led to revenue growing 10 times over 4 years
      </li>
      <li>
        Led 508 Compliance (WCAG 2.0) effort, fixed accessibility issues leading to first ever compliance for the
        InfoArchive product at Level A, responsible for making entire application keyboard accessible
      </li>
      <li>
        Created e2e cucumber tests using Gherkin BDD tests with page objects, mentored other developers on best practices
      </li>
      <li>
        Ported large parts of the InfoArchive product from AngularJS 1.5 to Angular7, greatly enhanced user
        experience and reduced tech debt, made immediate impact as new hire by re-writing AngularJS table docked headers
      </li>
      <li>
        Successfully replaced Guidewire’s legacy server-generated HTML system with ExtJS client, created ReactJS
        components for an omni-channel insurance product prototype
      </li>
    </ul>
    </section>

    <section>
    <h6>Skills</h6>
    <ul>
      <li>Skilled in: TypeScript, HTML5/CSS3, SASS/SCSS/LESS, Angular, BootStrap, PrimeNg, BDD cucumber e2e testing, extJS component library</li>
      <li>Proficient/working knowledge: AngularJS, React, chai, RxJS, D3.js</li>
    </ul>
    </section>

    <section>
    <h6>Samples</h6>
      <div class="jw-link-section">
        <a href="https://jwu150.github.io/">Angular Samples</a>
        <span> github repo: https://github.com/jwu150/workSample.git</span>
        <br>
        <a href="https://codepen.io/SharksFan15/project/editor/30fca09c69d4ca79a152d6240f48f806">React Samples (circa. 2017)</a>
      </div>
    </section>

    <section>
    <h6>Experience</h6>
    <div>
      <strong>Lead Software Engineer</strong> OpenText, Inc., Pleasanton, CA (October 2017– Present)<br>
      Tools: TypeScript, HTML5/CSS3, SASS, LESS, AngularJS, Angular7-15, BootStrap4, PrimeNg<br>
    </div>
      <ul>
        <li>
          Key contributor to OpenText InfoArchive product, created common components and directives to enhance UI and
          increase code reuse, features include card/list landing page, localized number and date formats, landing
          page re-vamp, search preferences, scrollable tabs, tables (master, detail, inline and side panel) and docked headers
        </li>
        <li>
          Led first 508 Compliance effort, fixed majority (> 80%) of all the end-user Level A issues, retrofitted many
          accessibility deficiencies of PrimeNG library
        </li>
        <li>
          Developed and mentor other developers on e2e cucumber tests, created tests, page objects and best practices
          for end to end testing, solved many locator and timing issues
        </li>
        <li>
          Successfully ported InfoArchive product from AngularJS to Angular 7 using TypeScript, BootStrap 4, PrimeNG and
          SASS, enabled many sales win with improved UI
        </li>
        <li>
          In short notice, successfully enabled entire application’s keyboard and focus navigation
        </li>
        <li>
          Re-factored D3.js application dashboard component with more efficient JSON response
        </li>
      </ul>
      <div>
        <strong>Senior Software Engineer</strong>&nbsp;Guidewire Inc., Foster City, CA (Dec. 2010 – Oct. 2017)<br>
        Tools: JavaScript, Java, HTML5/CSS3, ES6, Sass, ReactJS, Mocha/Chai, ExtJS, Git, Perforce <br>
      </div>
      <ul>
        <li>Developed a omni-channel insurance application using REST, Redux, ReactJS, built standalone UI components
          such as autocomplete address panel, toggle buttons, along with implementing main application workflow
        </li>
        <li>Developed major features such as keyboard support, input field prefix/suffix, colSpan support for grid,
          list views/grids using ExtJS 4/5 and CSS3
        </li>
        <li>As maintenance team lead, planned and managed features and bug fixes, took on or delegated maintenance
          activities, personally fixed and resolved many escalation issues in timely fashion
        </li>
      </ul>
      <div>
        <strong>Senior Software Engineer</strong> MarkMonitor, Inc., San Francisco, CA (Jan. 2009 – Dec. 2010)<br>
        Tools: JavaScript, HTML/CSS, ExtJS, SVN<br>
      </div>
      <ul>
        <li>Implemented the Summary Dashboard feature using ExtJS, saved company significant amount of resources since
          it was slated to be built by outside contractors
        </li>
        <li>Refactored all dialogs to use lazy loading to lessen memory usage, solved IE6 Base64 encoding performance
          problems</li>
      </ul>
      <div>
        <strong>Senior Software Engineer</strong> SuccessFactors, Inc., San Mateo, CA (May 2007 – Dec. 2008)<br>
        Tools: JavaScript, Java, HTML/CSS, YUI, CVS<br>
      </div>
      <ul>
        <li>As a key member of the front-end development team, created JavaScript/YUI/JSF based UI components
          (modal dialog, smart speech bubble, drag & drop, animation) that enabled all products of the company to have a
          rich web 2.0 front end
        </li>
        <li>Consulted peers and junior engineers on JavaScript/DHTML issues, often viewed as go-to person in solving many
          client side JavaScript issues such as drag&drop, animated scrolling, dynamic resizing of panels</li>
      </ul>
      <div>
        <strong>Senior Member of Technical Staff</strong> Core Development Team, Siebel Systems/Oracle Corp<br>
        Redwood Shores, CA (Oct. 2000 – May 2007)<br>
        Tools: COM/ATL, C++, JavaScript, HTML/CSS, ClearCase  <br>
      </div>
      <ul>
        <li>Developed and maintained Siebel CRM ActiveX client using COM/ATL, Automation Support in Siebel CRM client</li>
        <li>Implemented browser features using JavaScript, DHTML, and C++</li>
        <li>Key contributor in enabling Siebel to ship the first zero-footprint client product for various browser platforms</li>
      </ul>
    </section>
    <section>
      <h6>Education</h6>
      <div>
        <strong>Master of Science, Industrial and Systems Engineering</strong><br>
        (Specialization in Human-Computer Interaction)
        Virginia Tech, Blacksburg, VA
      </div>
      <br>
      <div>
        <strong>Bachelor of Applied Science, Industrial Engineering</strong><br>
        University of Toronto, Toronto, Ontario, Canada
      </div>
    </section>
  </div>
</div>

