* {
  font-size: 1rem;
}

h6 {
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: .1rem;
}

section {
  margin-bottom: 2rem;
}

.jw-resume-container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.jw-link-section {
  margin-left: 1rem;
}

.fieldSetColored {
  border: 1px solid lightgray;
}

